{plugins, [rebar3_format]}.

{format, [
  {files, ["src/*.erl", "include/*.hrl", "test/*.erl"]},
  {formatter, default_formatter},
  {options, #{paper => 80, ribbon => 56}}
]}.

{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  {config, "config/sys.config"},
  {vm_args, "config/vm.args"},
  {apps, [tep]}
]}.
